<div class="card-wrapper">
  @for (card of flipCards; track card) {
    <div class="flip-card" (click)="onClickCard(card)">
      @if (card.name === 'Back') {
        <img src="{{card.card_images[0].image_url_small}}" style="width: 177px; height: 254px; padding: 10px; cursor: pointer;" />
      }
      @if (card.name !== 'Back') {
        <img src="{{images_url}}{{card.card_images[0].image_url_small}}" style="width: 177px; height: 254px; padding: 10px; cursor: pointer;" />
      }
      @if (card.getRarityString(set.set_code)) {
        <div>{{card.getRarityString(set.set_code)}}</div>
      }
    </div>
  }
</div>

<button [disabled]="flipped" (click)="doFlip()">Flip Cards</button>
<button [disabled]="!flipped || completed" (click)="resetCards()">Open Pack {{currentPack}}/{{maxPacks}}</button>