<div class="select-wrapper">
  <label>Year:</label>
  <div class="select">
    <select [(ngModel)]="maxYear" (change)="getCardSets()">
      @for (year of years; track year) {
        <option [value]="year">{{year}}</option>
      }
    </select>
    <span class="focus"></span>
  </div>
</div>
@if (!cardSets) {
  <div style="display: flex; justify-content: center; align-items: center; flex: 1;">
    <app-loading></app-loading>
  </div>
}
@if (cardSets && cardSets.length > 0) {
  <div class="tile-wrapper">
    @for (set of cardSets; track set) {
      <div>
        @if (set.setFilter(maxYear)) {
          <div>
            <app-card-set-tile [cardSet]="set"></app-card-set-tile>
          </div>
        }
      </div>
    }
  </div>
}