<div class="component-header">
  <div class="select-wrapper" style="width: 120px;">
    <div class="select">
      <select [(ngModel)]="maxYear" (change)="getCardSets()">
        @for (year of years; track year) {
          <option [value]="year">{{year}}</option>
        }
      </select>
      <span class="focus"></span>
    </div>
  </div>
  <div class="select-wrapper" style="margin-left: 8px;">
    <div class="select" style="max-width: unset;">
      <select [(ngModel)]="selectedSet" (change)="onSetChange()">
        @for (set of filteredSets; track set) {
          <option [ngValue]="set">{{set.set_name}}</option>
        }
      </select>
      <span class="focus"></span>
    </div>
  </div>
  @if (!draftedCards) {
    <button (click)="startDraft()" [disabled]="drafting || emptyCardSet">Start Draft</button>
  }
  @if (draftedCards) {
    <button (click)="discardDraft()">Discard Draft</button>
  }
  @if (draftedCards) {
    <button (click)="saveDraft()">Save and Continue</button>
  }
</div>
@if (emptyCardSet) {
  <div>
    No cards found in this set.
  </div>
}
@if (drafting) {
  <div class="pack-wrapper">
    <app-pack-opening [set]="selectedSet" [draftKey]="draftKey" (onDraftCompleted)="completeDraft($event)"></app-pack-opening>
  </div>
}
@if (draftedCards && draftedCards.length > 0) {
  <div class="drafted-cards-wrapper">
    @for (card of draftedCards; track card) {
      <div style="width: 124px;height: 178px;">
        <img src="{{images_url}}{{card.card_images[0].image_url_small}}" style="width: 124px;height: 178px;"/>
      </div>
    }
  </div>
}