<div class="component-header">
    <div class="select-wrapper" style="width: 120px;">
        <div class="select">
            <select [(ngModel)]="maxYear" (change)="getCardSets()">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
            </select>
            <span class="focus"></span>
        </div>
    </div>
    <div class="select-wrapper" style="margin-left: 8px;">
        <div class="select" style="max-width: unset;">
            <select [(ngModel)]="selectedSet" (change)="onSetChange()">
                <option *ngFor="let set of filteredSets" [ngValue]="set">{{set.set_name}}</option>
            </select>
            <span class="focus"></span>
        </div>
    </div>
    <button (click)="startDraft()" *ngIf="!draftedCards" [disabled]="drafting || emptyCardSet">Start Draft</button>
    <button *ngIf="draftedCards" (click)="discardDraft()">Discard Draft</button>
    <button *ngIf="draftedCards" (click)="saveDraft()">Save and Continue</button>
</div>
<div *ngIf="emptyCardSet">
    No cards found in this set.
</div>
<div *ngIf="drafting" class="pack-wrapper">
    <app-pack-opening [set]="selectedSet" [possibleCards]="cards" (onDraftCompleted)="completeDraft($event)"></app-pack-opening>
</div>
<div *ngIf="draftedCards && draftedCards.length > 0" class="drafted-cards-wrapper">
    <div *ngFor="let card of draftedCards" style="width: 124px;height: 178px;">
        <img src="{{card.card_images[0].image_url_small}}" style="width: 124px;height: 178px;"/>
    </div>
</div>